<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}プログラミングやってみた{% endblock %}</title>

  <link rel="stylesheet" href="/vendor/ress/ress.min.css">
  <link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/css/main.css">
  {% block css %}{% endblock %}

  <script defer src="/js/main.js"></script>
  {% block js %}{% endblock %}
</head>

<body>
  <header>
    <div class="Header">
      <div class="Header__title">プログラミングやってみた</div>
    </div>
    <nav id="Menu" class="Menu">
      <ol class="Menu__list">
        <li class="Menu__item Menu__item--active"><a class="Menu__link" href=""><span class="Menu__name">AAA</span></a>
        </li>
        <li class="Menu__item"><a class="Menu__link" href=""><span class="Menu__name">BBBB</span></a>
        </li>
        <li class="Menu__item"><a class="Menu__link" href=""><span class="Menu__name">CCCCC</span></a>
        </li>
        <li class="Menu__item"><a class="Menu__link" href=""><span class="Menu__name">DDDDDD</span></a>
        </li>
        <li class="Menu__item"><a class="Menu__link" href=""><span class="Menu__name">EEEEEEE</span></a>
        </li>
        <li class="Menu__item"><a class="Menu__link" href=""><span class="Menu__name">FFFFFFFF</span></a>
        </li>
        <li class="Menu__item"><a class="Menu__link" href=""><span class="Menu__name">GGGGGGGGG</span></a>
        </li>
      </ol>
    </nav>
  </header>
  <div class="Body">
    <div class="DummyAd">
      <div class="DummyAd__item"></div>
    </div>
    <nav class="Breadcrumb">
      <ol class="Breadcrumb__list">
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span class="Breadcrumb__name">AAA</span></a>
        </li>
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span
              class="Breadcrumb__name">BBBBBB</span></a>
        </li>
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span class="Breadcrumb__name">ホーム</span></a>
        </li>
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span class="Breadcrumb__name">C</span></a>
        </li>
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span class="Breadcrumb__name">ホーム</span></a>
        </li>
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span
              class="Breadcrumb__name">DDDDDDDDDDDDDDDD</span></a>
        </li>
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span class="Breadcrumb__name">ホーム</span></a>
        </li>
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span class="Breadcrumb__name">ホーム</span></a>
        </li>
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span class="Breadcrumb__name">ホーム</span></a>
        </li>
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span class="Breadcrumb__name">ホーム</span></a>
        </li>
      </ol>
    </nav>
    <article class="Article">
      <div class="Article__thumbnail">
        <img src="https://smashlog.games/wp-content/uploads/2020/04/2020041621230347.jpg" alt="">
      </div>
      <div class="Article__header">
        <div class="Article__tag">Beginer</div>
        <div class="Article__date">2020.04.18</div>
        <h1 class="Article__title">【スマブラSP】僕が考える初心者にクッパをおすすめする理由</h1>
        <div class="Article__description">
          <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
          <p>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</p>
        </div>
        <div class="Article__index">
          <div class="Index">
            <h2 class="Index__header">この記事の目次</h2>
            <nav class="Index__body">
              <ol class="Index__list">
                <li class="Index__item"><a class="Index__link" href="">学びやすさ</a></li>
                <li class="Index__item">
                  <a class="Index__link" href="">ストレスのなさ</a>
                  <ul class="Index__list Index__list--second">
                    <li class="Index__item"><a class="Index__link" href="">aaaaa</a></li>
                    <li class="Index__item"><a class="Index__link" href="">aaaaa</a></li>
                    <li class="Index__item"><a class="Index__link" href="">aaaaa</a></li>
                    <li class="Index__item"><a class="Index__link" href="">aaaaa</a></li>
                  </ul>
                </li>
                <li class="Index__item"><a class="Index__link" href="">最後に</a></li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="Article__header-ad"></div>
      </div>
      <div class="Article__body" id="docs">
        <h2>これは見出し2です</h2>
        <p>これはパラグラフです。これはパラグラフです。これはパラグラフです。これはパラグラフです。これはパラグラフです。</p>
        <p>これはパラグラフです。これはパラグラフです。これはパラグラフです。これはパラグラフです。これはパラグラフです。</p>
        <p>これはパラグラフです。これはパラグラフです。これはパラグラフです。これはパラグラフです。これはパラグラフです。</p>
        <h3>これは見出し3です</h3>
        <p>これはパラグラフです。これはパラグラフです。これはパラグラフです。これはパラグラフです。これはパラグラフです。</p>
        <p>これはパラグラフです。これはパラグラフです。これはパラグラフです。これはパラグラフです。これはパラグラフです。</p>
        <p>これはパラグラフです。これはパラグラフです。これはパラグラフです。これはパラグラフです。これはパラグラフです。</p>
        <h4>これは見出し3です</h4>
        <p>これはパラグラフです。これはパラグラフです。これはパラグラフです。これはパラグラフです。これはパラグラフです。</p>
        <p>これはパラグラフです。これはパラグラフです。これはパラグラフです。これはパラグラフです。これはパラグラフです。</p>
        <p>これはパラグラフです。これはパラグラフです。これはパラグラフです。これはパラグラフです。これはパラグラフです。</p>
      </div>
    </article>
    {% block content %}{% endblock %}
  </div>
  <footer class=" Footer"></footer>
</body>

</html>
