<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}プログラミングやってみた{% endblock %}</title>

  <link rel="stylesheet" href="/vendor/ress/ress.min.css">
  <link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/css/main.css">
  {% block css %}{% endblock %}

  <script defer src="/js/main.js"></script>
  {% block js %}{% endblock %}
</head>

<body>
  <header class="Header">
    <div class="Header">
      <div class="Header__title">プログラミングやってみた</div>
    </div>
  </header>
  <div class="Body">
    <!-- <nav id="smpNavMenu" class="Breadcrumb">
      <ul id="menu-smp_nav_menu" class="Breadcrumb__list">
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span class="Breadcrumb__name">トップ</span></a>
        </li>
        <li id="" class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span
              class="Breadcrumb__name">殿堂入り記事</span></a></li>
        <li id="" class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span
              class="Breadcrumb__name">ゲームの企画書</span></a></li>
        <li id="" class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span
              class="Breadcrumb__name">日本モバイルゲーム産業史</span></a></li>
        <li id="" class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span
              class="Breadcrumb__name">インタビュー</span></a></li>
        <li id="" class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span
              class="Breadcrumb__name">特集記事</span></a></li>
        <li id="" class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span
              class="Breadcrumb__name">若ゲのいたり</span></a></li>
        <li id="" class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span
              class="Breadcrumb__name">セール情報</span></a></li>
        <li id="" class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span
              class="Breadcrumb__name">女性向け</span></a></li>
      </ul>
    </nav> -->
    <nav class="Breadcrumb">
      <ol class="Breadcrumb__list">
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span class="Breadcrumb__name">ホーム</span></a>
        </li>
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span class="Breadcrumb__name">ホーム</span></a>
        </li>
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span class="Breadcrumb__name">ホーム</span></a>
        </li>
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span class="Breadcrumb__name">ホーム</span></a>
        </li>
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span class="Breadcrumb__name">ホーム</span></a>
        </li>
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span class="Breadcrumb__name">ホーム</span></a>
        </li>
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span class="Breadcrumb__name">ホーム</span></a>
        </li>
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span class="Breadcrumb__name">ホーム</span></a>
        </li>
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span class="Breadcrumb__name">ホーム</span></a>
        </li>
        <li class="Breadcrumb__item"><a class="Breadcrumb__link" href=""><span class="Breadcrumb__name">ホーム</span></a>
        </li>
      </ol>
    </nav>
    {% block content %}{% endblock %}
  </div>
  <footer class="Footer"></footer>
</body>

</html>
